name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build_and_push:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build -t cookiemonster073/server -f Dockerfile.dev .
      

    - name: Test the image created
      run: docker run cookiemonster073/server npm test -- --coverage

    - name: Decrypt the env file
      env:
        password: ${{secrets.SECRET_KEY}}
      run: openssl enc -aes256 -d -in .enc -out .env -k $password

    - name: Logging into docker hub
      env:
        dockerid: ${{secrets.DOCKERID}}
        dockerpass: ${{secrets.DOCKERPASS}}
      run:
        echo "$dockerpass" | docker login --username "$dockerid" --password-stdin 

    - name: Building a production grade dockerfile
      run:
        docker build -t cookiemonster073/server .
        
    - name: Pushing docker image to docker hub
      run:
        docker image push --all-tags docker.io/cookiemonster073/server