name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build -t cookiemonster073/server -f Dockerfile.dev .
      
  test:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Test the image created
      run: docker run cookiemonster073/server npm test -- --coverage


  test_success1:
    needs: test
    runs-on: ubuntu-latest
    

    steps:
    - uses: actions/checkout@v2
    - name: Building a production grade dockerfile
      run:
        docker build -t cookiemonster073/server .
        

  test_success2:
    needs: test_success1
    runs-on: ubuntu-latest
    

    steps:
    - uses: actions/checkout@v2
    - name: Logging into docker hub
      env:
        dockerid: ${{secrets.DOCKERID}}
        dockerpass: ${{secrets.DOCKERPASS}}
      run:
        echo "$dockerpass" | docker login --username "$dockerid" --password-stdin 

  test_success3:
    needs: test_success2
    runs-on: ubuntu-latest
    

    steps:
    - uses: actions/checkout@v2
    - name: Pushing docker image to hub
      run:
        docker push cookiemonster073/server